body {
	font-size: 13px;
}

h3, h4 {
	margin: 5px 0px;
}

label {
	font-size: 90%;
	margin-right: 10px;
}

.row > div {
	display: inline-block;
	margin-right: 10px;
}

.panel {
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
}

.panel.responses {
	flex-direction: initial;
}

.col {
	width: 45%;
	padding: 15px;
	display: inline-block;
	word-wrap: break-word;
}

.player-row > div{
	display: inline-block;
}
.race-div, .enabled-div {
	margin-right: 20px;
}

.code {
	font-family: "Courier New", Courier, monospace;
}